<div>
        <div class="flex">
            {% if(profile_picture is defined) %}
                <svg width="76" height="76" viewBox="0 0 76 76" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <circle cx="38" cy="38" r="38" fill="url(#paint0_linear_1286_4477)"/>
                    <mask id="mask0_1286_4477" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="76" height="76">
                        <circle cx="38" cy="38" r="38" fill="var()"/>
                    </mask>
                        <g mask="url(#mask0_1286_4477)">
                        <rect x="-8.44415" y="-13.136" width="92.6918" height="138.864" fill="url(#pattern0)"/>
                        </g>
                    <defs>
                        <pattern id="pattern0" patternContentUnits="objectBoundingBox" width="1" height="1">
                        <use xlink:href="#image0_1286_4477" transform="matrix(0.000366166 0 0 0.000244416 0 -0.000563827)"/>
                        </pattern>
                        <linearGradient id="paint0_linear_1286_4477" x1="38" y1="1.79889e-06" x2="-55.1033" y2="99.2849" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#21295C"/>
                        <stop offset="1" stop-color="#9747FF"/>
                        <stop offset="1" stop-color="#21295C"/>
                        </linearGradient>
                    </defs>
                </svg>
            {% endif %}
            <div class="flex flex-col justify-center mx-5">
                {% if (profile_information is defined) %}
                {% endif %}
                <h1 class="text-lg font-semibold">John Michigan</h1>
                <span class="text-xs text-black font-medium mt-2">Owner - The exorcist</span>
            </div>
        </div>

        <div class="mt-3">
            {% if(content is defined) %}
                <p class="text-xs text-black/70 leading-loose">{{ content }}</p>
            {% endif %}
        </div>
    </div>
</div>