{% extends 'only_header.html.twig' %}

{% block title %}Register{% endblock %}

{% block content %}
    <div class="w-[900px] px-8">
        <div class="flex flex-col items-center justify-center ">
            <div class="md:flex md:flex-row flex-col  gap-12">
                <div>
                    <h1 class="text-xl lg:text-4xl  mb-5 font-weight-normal w-min whitespace-nowrap">Company Address.</h1>
                    {{ form(formCompanyAddress) }}
                </div>
                <div>
                    <h1 class="text-xl lg:text-4xl mb-5 font-weight-normal w-min whitespace-nowrap">Your Company.</h1>
                    {{ form(formCompany) }}
                </div>
            </div>
            {% include 'components/buttons/button.html.twig' with {
                'content': 'Next',
                'type': 'submit',
                'size':"md",
                'icon': 'arrow-forward-circle-outline',
                'handle': 'handleFormSubmit()'
            } %}
        </div>
        <div class="flex space-x-3">
            <span class="text-slate-500">Do you already have an account ?</span>
            <div>
                {% include 'components/link/link.html.twig' with {
                    'href': path('app_login'),
                    'text' : 'Login',
                }
                %}
            </div>
        </div>
    </div>

    <script>
        function handleFormSubmit(){
            const forms = document.querySelectorAll('form');
            forms[1].querySelectorAll('input').forEach((input, index) => {
                const hiddenInput = document.createElement('input');
                hiddenInput.type = 'hidden';
                hiddenInput.name = input.name;
                hiddenInput.value = input.value;
                forms[0].appendChild(hiddenInput);
            });
            forms[0].submit();

        }
    </script>

{% endblock %}
