{% extends 'only_header.html.twig' %}

{% block title %}Register{% endblock %}

{% block content %}
<form method="post" class="p-2lg:mx-16 px-8 w-[900px]">

    <h1 class="text-xl lg:text-4xl  mb-5 font-weight-normal w-min whitespace-nowrap">Your informations.</h1>
    {{ form(form) }}
</form>
{% endblock %}
