<div data-bind-component="contextMenu" class="relative" >
    <div data-type="activator">
        {% block activator %}{% endblock %}
    </div>
    <div data-type="items" class="hidden absolute mt-2 bg-[#FFFFFF]  border rounded shadow-md z-10">
        {% block items %}{% endblock %}
    </div>
</div>  