{#
HOW TO USE IT

{% include 'components/sideabr/nav_link.html.twig' with {
    'title': 'Profile'
} %}

#}
<div class="w-full py-2 pl-2">
    <h3 class="flex items-center text-primary-500">{{ title }}</h3>
</div>