{% extends 'backoffice.html.twig' %}

{% block title %}Edit Customer
{% endblock %}

{% block body %}
	<div class="flex flex-col gap-4">
		<h1>Edit
			{{ customer.firstname }}
			{{customer.lastname}}</h1>
		{{ include('components/buttons/button_link.html.twig',{
            size:'sm',
            bg:'secondary',
            content:"Go back",
            icon_left:"arrow-back-circle-outline",
            link:path('app_customer_index', {company:company.id})
        }) }}
		{% embed 'components/layouts/form_layout.html.twig' with {'content': 'Update', icon:"create-outline"} %}
			{% block footer %}
                {% include('components/layouts/action_form_layout.html.twig') with {
                    item: customer,
					csrf_id:'delete',
					confirm:"Are you sure you want to delete this customer? This action cannot be undone.",
					content:'Delete',
					icon:'trash-outline',
					bg:'danger',
                    action: path('app_customer_delete', {company:company.id, id:customer.id}),
                } %}
			{% endblock %}
		{% endembed %}
	</div>
{% endblock %}
