{#
HOW TO USE IT

{% include 'components/buttons/button_darkmode.html.twig' %}

/HOW TO USE IT
#}

<button data-bind-component="darkMode" class="rounded-full px-8 py-2 bg-gradient-to-r from-primary-400 to-primary-600 dark:from-primary-600 dark:to-primary-400 flex items-center space-x-2 text-white hover:scale-105 transition-all duration-200">
</button>