{# HOW TO USE IT #}

{# 
{% include 'components/chips-pills/chip.html.twig' with {
        'label': 'Chip 1', -- OPTIONAL
        'close_icon': true, 
        'type' : 'primary', -- OPTIONAL
        } 
    %}

    All the parameters are optional, if you don't pass them, the default value will be used.
#}

{# /HOW TO USE IT #}

{# WHAT DOES IT DO #}

{# 
    This component is a chip with a label. 
    It can be used to display a tag or a category.
#}

{# /WHAT DOES IT DO #}

{# PATH #}

{# 
    components/chips-pills/chip.html.twig
#}

{# /PATH #}

{% if close_icon is not defined %}
{% set close_icon = false %}
{% endif %}


<div class="bg-{{ type | default('primary') }}-500 inline-flex items-center gap-2.5 px-4 py-1.5 rounded-xl text-white border-2 border-{{ type | default('primary') }}-500">
    {% if close_icon %}
        <ion-icon name="close-circle-outline" class="text-2xl text-white"></ion-icon>
    {% endif %}
    <p>
        {{ label | default('Chip')}}
    </p>
</div>
