{% extends 'base.html.twig' %}

{% block title %}TEST{% endblock %}
 
{% block body %}

<div class="example-wrapper">
    {% include 'components/chips-pills/chip.html.twig' with {
        'label': 'Chip 1', 
        'close_icon': true, 
        'bg_color':'warning', 
        'svg_fillColor': 'white', 
        'text_color': 'white',
        'border_color': 'warning'
        } 
    %}
    {% include 'components/chips-pills/pill.html.twig' with {
        'label': 'Pill 1', 
        'close_icon': true, 
        'bg_color':'warning', 
        'svg_fillColor': 'white', 
        'text_color': 'white',
        'border_color': 'warning'
        } 
    %}
</div>
{% endblock %}
