{% extends 'only_header.html.twig' %}

{% block title %}Conctact us{% endblock %}
{% block content %}
 <div class="flex justify-center items-center w-screen h-full absolute top-0">
    <div class="w-full px-3 lg:px-0 lg:w-1/2 flex flex-col space-y-2">
        <div class="mt-24 lg:mt-0 mb-8">
            {% include 'components/titles/title.html.twig' with {
                text: 'Contact us',
                underline: true
            } %} 
        </div>

        <div>
         {% embed 'components/layouts/form_layout.html.twig' with {'content': 'Send us a report', icon:"send",} %}
        {% endembed %}
        </div>
    <div>
</div>

{% endblock %}
