{% extends 'empty.html.twig' %}

{% block title %}Design Guide{% endblock %}
{% block content %}
<div class="mx-[70px] my-[24px]">
    <div class="grid grid-cols-3 gap-8">
        <div class="text-primary-500"> 
            <h1 class="text-primary-500">Design Guide</h1>

            <img src="{{ asset('images/logo2.png') }}" alt="Company name" class="mr-2 translate-y-4">
        </div>

        <div>
            <h2 class="font-bold text-4xl mb-10">Colors</h2>
            <div class="grid grid-cols-3 gap-4">

                <div class="flex flex-col items-center">
                    <div class="w-full h-20 bg-primary-400 mb-5"></div>
                    <div class="w-full text-left">
                        <h3 class="font-bold text-lg">Hexadecimal</h3>
                        <p class="font-semibold text-lg uppercase">#7ec8bc</p>
                        <h3 class="font-bold text-lg">RGB</h3>
                        <p class="font-semibold text-lg">126, 200, 188</p>
                    </div>
                </div>

                <div class="flex flex-col items-center">
                    <div class="w-full h-20 bg-primary-500 mb-5"></div>
                    <div class="w-full text-left">
                        <h3 class="font-bold text-lg">Hexadecimal</h3>
                        <p class="font-semibold text-lg uppercase">#49AB9A</p>
                        <h3 class="font-bold text-lg">RGB</h3>
                        <p class="font-semibold text-lg">73, 171, 154</p>
                    </div>
                </div>

                <div class="flex flex-col items-center">
                    <div class="w-full h-20 bg-primary-600 mb-5"></div>
                    <div class="w-full text-left">
                        <h3 class="font-bold text-lg">Hexadecimal</h3>
                        <p class="font-semibold text-lg uppercase">#32766b</p>
                        <h3 class="font-bold text-lg">RGB</h3>
                        <p class="font-semibold text-lg">50, 118, 107</p>
                    </div>
                </div>

                <div class="flex flex-col items-center">
                    <div class="w-full h-20 bg-secondary-400 mb-5"></div>
                    <div class="w-full text-left">
                        <h3 class="font-bold text-lg">Hexadecimal</h3>
                        <p class="font-semibold text-lg uppercase">#21295C</p>
                        <h3 class="font-bold text-lg">RGB</h3>
                        <p class="font-semibold text-lg">33, 41, 92</p>
                    </div>
                </div>

                <div class="flex flex-col items-center">
                    <div class="w-full h-20 bg-secondary-500 mb-5"></div>
                    <div class="w-full text-left">
                        <h3 class="font-bold text-lg">Hexadecimal</h3>
                        <p class="font-semibold text-lg uppercase">#1E143B</p>
                        <h3 class="font-bold text-lg">RGB</h3>
                        <p class="font-semibold text-lg">30, 20, 59</p>
                    </div>
                </div>

                <div class="flex flex-col items-center">
                    <div class="w-full h-20 bg-secondary-600 mb-5"></div>
                    <div class="w-full text-left">
                        <h3 class="font-bold text-lg">Hexadecimal</h3>
                        <p class="font-semibold text-lg uppercase">#1a1234</p>
                        <h3 class="font-bold text-lg">RGB</h3>
                        <p class="font-semibold text-lg">26, 18, 52</p>
                    </div>
                </div>

                <div class="flex flex-col items-center">
                    <div class="w-full h-20 bg-white mb-5"></div>
                    <div class="w-full text-left">
                        <h3 class="font-bold text-lg">Hexadecimal</h3>
                        <p class="font-semibold text-lg uppercase">#F2F4F8</p>
                        <h3 class="font-bold text-lg">RGB</h3>
                        <p class="font-semibold text-lg">242, 244, 248</p>
                    </div>
                </div>

                <div class="flex flex-col items-center">
                    <div class="w-full h-20 bg-black mb-5"></div>
                    <div class="w-full text-left">
                        <h3 class="font-bold text-lg">Hexadecimal</h3>
                        <p class="font-semibold text-lg uppercase">#1E1E1E</p>
                        <h3 class="font-bold text-lg">RGB</h3>
                        <p class="font-semibold text-lg">30, 30, 30</p>
                    </div>
                </div>

                <div class="flex flex-col items-center">
                    <div class="w-full h-20 bg-disabled mb-5"></div>
                    <div class="w-full text-left">
                        <h3 class="font-bold text-lg">Hexadecimal</h3>
                        <p class="font-semibold text-lg uppercase">#BEDFD9</p>
                        <h3 class="font-bold text-lg">RGB</h3>
                        <p class="font-semibold text-lg">190, 223, 217</p>
                    </div>
                </div>
            </div>
        </div>


        <div>
            <h2 class="font-bold text-4xl mb-10 text-transparent">Colors</h2>
            <div class="grid grid-cols-3 gap-4">

                <div class="flex flex-col items-center">
                    <div class="w-full h-20 bg-danger-500 mb-5"></div>
                    <div class="w-full text-left">
                        <h3 class="font-bold text-lg">Hexadecimal</h3>
                        <p class="font-semibold text-lg uppercase">#F34E29</p>
                        <h3 class="font-bold text-lg">RGB</h3>
                        <p class="font-semibold text-lg">243, 78, 41</p>
                    </div>
                </div>

                <div class="flex flex-col items-center">
                    <div class="w-full h-20 bg-success-500 mb-5"></div>
                    <div class="w-full text-left">
                        <h3 class="font-bold text-lg">Hexadecimal</h3>
                        <p class="font-semibold text-lg uppercase">#2e7881</p>
                        <h3 class="font-bold text-lg">RGB</h3>
                        <p class="font-semibold text-lg">46, 120, 129</p>
                    </div>
                </div>

                <div class="flex flex-col items-center">
                    <div class="w-full h-20 bg-warning-500 mb-5"></div>
                    <div class="w-full text-left">
                        <h3 class="font-bold text-lg">Hexadecimal</h3>
                        <p class="font-semibold text-lg uppercase">#FFD339</p>
                        <h3 class="font-bold text-lg">RGB</h3>
                        <p class="font-semibold text-lg">255, 211, 57</p>
                    </div>
                </div>

                <div class="flex flex-col items-center">
                    <div class="w-full h-20 bg-info-500 mb-5"></div>
                    <div class="w-full text-left">
                        <h3 class="font-bold text-lg">Hexadecimal</h3>
                        <p class="font-semibold text-lg uppercase">#BBDEF0</p>
                        <h3 class="font-bold text-lg">RGB</h3>
                        <p class="font-semibold text-lg">187, 222, 240</p>
                    </div>
                </div>

                <div class="col-span-3">
                <p class="font-medium text-[#111111] opacity-60">We opted for the color #49AB9A as it embodies our company's reliability, its commitment to the environment, and aims to soothe the user while offering a pleasant and reassuring experience.</p>
                <br>
                <br>
                <p class="font-medium text-[#111111] opacity-60">Additionally, we chose the color #1E143B for its elegance and its ability to express creativity, innovation, and sophistication. This deep hue adds a touch of modernity and mystery, thereby conveying the image of a business that is both innovative and distinctive."</p>
                </div>
            </div>
        </div>
    </div>

    <hr class="border-b-2 border-black opacity-60 w-full mt-32 mb-6">

    <h2 class="font-bold text-4xl mb-10">Typography</h2>

    <div class="grid grid-cols-4 gap-14">
        <div>
            <h3 class="mb-6">Lexend</h3>
            <div class="flex flex-col items-end">
                <p class="text-4xl">Aa</p>
                <p class="text-xs">Aa Bb Cc Dd Ee</p>
                <p class="text-sm">Aa Bb Cc Dd Ee</p>
                <p class="text-lg">Aa Bb Cc Dd Ee</p>
                <p class="text-2xl">Aa Bb Cc Dd Ee</p>
            </div>
        </div>

        <div class="opacity-60">
            <p>The Lexend font was chosen for its readability benefits, reducing eye strain and offering a comfortable reading experience for prolonged digital usage. </p>
            <br>
            <p>Its adaptability across various screen sizes ensures consistent clarity, catering to users on both large monitors and mobile devices. Compliant with accessibility standards, Lexend improves content comprehension for diverse readers, including those with vision or reading challenges.</p>
        </div>

        <div class="opacity-60">
            <p>Additionally, its modern and elegant appearance complements various design styles, maintaining a unique identity while enhancing user experience. Overall, Lexend's selection emphasizes its ability to facilitate easy, accessible, and enjoyable reading experiences across different platforms.
            </p>
        </div>

        <div>
            {% include 'components/titles/title.html.twig' with {text: 'Titre 1', underline: false, color: '#21295C'} %}
            {% include 'components/titles/title.html.twig' with {text: 'Titre 1', underline: true, color: '#21295C'} %}
            <p class="text-lg">Huge</p>
            <p>text simple</p>
            <p class="font-semibold">text simple semi-bold</p>
            <p class="text-sm">text small</p>
        </div>
    </div>

    <hr class="border-b-2 border-black opacity-60 w-full mt-32 mb-6">

    <div class="space-y-10">
        <h2 class="font-bold text-4xl mb-10">Components</h2>

        <div>
            <h3 class="mb-10 text-lg opacity-60 uppercase">Nav Bar</h3>
            <div class="space-y-5">
                {% include 'components/layouts/header.html.twig' %}

                <div class="bg-[#F1F1F1] p-4">
                    {% include 'components/layouts/admin/header.html.twig' %}
                </div>
            </div>
        </div>


        <div>
            <h3 class="mb-10 text-lg opacity-60 uppercase">Footer</h3>
            <div class="space-y-5">
                {% include 'components/layouts/footer.html.twig' %}
            </div>
        </div>

        <div class="grid grid-cols-2 gap-10">
        
            <div class="space-y-5">
                <h3 class="mb-10 text-lg opacity-60 uppercase">Forms</h3>
                <div class="grid grid-cols-2 gap-4">
                    {% include 'components/inputs/input.html.twig' with {
                    'label': 'Email',
                    'name': 'email',
                    'type': 'email',
                    'placeholder': 'Enter your Email address',
                    'required': true,
                    'icon':'mail',
                    'class': 'w-full'
                    } %}

                    {% include 'components/inputs/input.html.twig' with {
                    'label': 'Password',
                    'name': 'password',
                    'type': 'password',
                    'placeholder': 'Enter your password',
                    'required': true,
                    'icon':'lock-closed',
                    'class': 'w-full'
                    } %}

                    {% include 'components/inputs/input.html.twig' with {
                    'label': 'Email',
                    'name': 'email',
                    'type': 'email',
                    'placeholder': 'Enter your Email address',
                    'required': true,
                    'class': 'w-full'
                    } %}
                </div>
            </div>

            <div>
                <h3 class="mb-10 text-lg opacity-60 uppercase">Buttons</h3>
                <div class="grid grid-cols-3 gap-2">

                    <div class="flex justify-center items-center w-full">
                    {% include 'components/buttons/button_link.html.twig' with {
                        content: 'Button',
                        link: '#',
                        size: 'sm',
                        gradient: false
                    } %} 
                    </div>

                    <div class="flex justify-center items-center w-full">
                    {% include 'components/buttons/button_link.html.twig' with {
                        content: 'Button',
                        link: '#',
                        size: 'sm',
                        gradient: true
                    } %} 
                    </div>

                    <p class="row-span-3 text-[#707070] text-lg leading-7">The buttons have the size of the text they contain and can feature an illustrative icon for visual enhancement.</p>
                    

                    <div class="flex justify-center items-center w-full">
                    {% include 'components/buttons/button_link.html.twig' with {
                        content: 'Button',
                        link: '#',
                        size: 'sm',
                        icon_left: 'arrow-back-circle-outline',
                        gradient: true
                    } %} 
                    </div>

                    <div class="flex justify-center items-center w-full">
                    {% include 'components/buttons/button_link.html.twig' with {
                        content: 'Button',
                        link: '#',
                        size: 'sm',
                        icon_right: 'arrow-forward-circle-outline',
                        gradient: true
                    } %} 
                    </div>


                    <div class="flex justify-center items-center w-full">
                    {% include 'components/buttons/button_link.html.twig' with {
                        content: 'Button',
                        link: '#',
                        size: 'sm',
                        icon_left: 'arrow-back-circle-outline',
                        gradient: false
                    } %} 
                    </div>

                    <div class="flex justify-center items-center w-full">
                    {% include 'components/buttons/button_link.html.twig' with {
                        content: 'Button',
                        link: '#',
                        size: 'sm',
                        icon_right: 'arrow-forward-circle-outline',
                        gradient: false
                    } %} 
                    </div>


                </div>
            </div>

        </div>

        <div class="grid grid-cols-3 gap-3">
            <div>
                <h3 class="mb-10 text-lg opacity-60 uppercase">Chips</h3>
                <div class="grid grid-cols-4 gap-x-10 gap-y-7">
                    {% include 'components/chips-pills/chip.html.twig' with {
                        'label': 'Chip',
                        'close_icon': false, 
                        'type' : 'primary',
                        } 
                    %}

                    {% include 'components/chips-pills/chip.html.twig' with {
                        'label': 'Chip',
                        'close_icon': false, 
                        'type' : 'danger',
                        } 
                    %}

                    {% include 'components/chips-pills/chip.html.twig' with {
                        'label': 'Chip',
                        'close_icon': true, 
                        'type' : 'primary',
                        } 
                    %}

                     {% include 'components/chips-pills/chip.html.twig' with {
                        'label': 'Chip',
                        'close_icon': true, 
                        'type' : 'danger',
                        } 
                    %}

                </div>
            </div>

            <div>
                <h3 class="mb-10 text-lg opacity-60 uppercase">CHECKBOXES & radios</h3>
                {% include 'components/inputs/checkbox.html.twig' with {
                    'name': 'checkbox',
                    'value': 'checkbox',
                    'required': true,
                } %}
            </div>

            <div>
                <h3 class="mb-10 text-lg opacity-60 uppercase">List Items</h3>
                <div class="grid grid-cols-4 gap-1 text-sm">
                    {% include 'components/lists/list-disc.html.twig' with {
                        data: [
                            'Item1',
                            'Item2',
                            'Item3',
                            'Item4',
                            'Item5',
                        ]}%} 

                    {% include 'components/lists/list-decimal.html.twig' with {
                        data: [
                            'Item1',
                            'Item2',
                            'Item3',
                            'Item4',
                            'Item5',
                        ]}%} 

                    {% include 'components/lists/list-custom.html.twig' with {
                        data: [
                            'Item1',
                            'Item2',
                            'Item3',
                            'Item4',
                            'Item5',
                        ],
                        icon: 'alert',
                        max: 5
                        }%} 

                    {% include 'components/lists/list.html.twig' with {
                        data: [
                            'Item1',
                            'Item2',
                            'Item3',
                            'Item4',
                            'Item5',
                        ]}%} 
                </div>
            </div>


            <div>
                <h3 class="mb-10 text-lg opacity-60 uppercase">Pills</h3>
                <div class="grid grid-cols-4 gap-x-10 gap-y-7">
                    {% include 'components/chips-pills/pill.html.twig' with {
                        'label': 'Pill',
                        'close_icon': false, 
                        'type' : 'primary',
                        'size': 'sm',
                        'gradient': false
                        } 
                    %}

                    {% include 'components/chips-pills/pill.html.twig' with {
                        'label': 'Pill',
                        'close_icon': false, 
                        'type' : 'danger',
                        'size': 'sm',
                        'gradient': false
                        } 
                    %}

                    {% include 'components/chips-pills/pill.html.twig' with {
                        'label': 'Pill',
                        'close_icon': true, 
                        'type' : 'primary',
                        'size': 'sm',
                        'gradient': false
                        } 
                    %}

                     {% include 'components/chips-pills/pill.html.twig' with {
                        'label': 'Pill',
                        'close_icon': true, 
                        'type' : 'danger',
                        'size': 'sm',
                        'gradient': false
                        } 
                    %}

                    {% include 'components/chips-pills/pill.html.twig' with {
                        'label': 'Pill',
                        'close_icon': false, 
                        'type' : 'primary',
                        'size': 'sm',
                        'gradient': true
                        } 
                    %}


                    {% include 'components/chips-pills/pill.html.twig' with {
                        'label': 'Pill',
                        'close_icon': true, 
                        'type' : 'primary',
                        'size': 'sm',
                        'gradient': true
                        } 
                    %}
                </div>
            </div>

        </div>

        <div>
            <h3 class="mb-10 text-lg opacity-60 uppercase">Icons</h3>

            <div class="flex gap-4 flex-wrap">
                <ion-icon name="arrow-forward-circle-outline"></ion-icon>
                <ion-icon name="arrow-back-circle-outline"></ion-icon>
                <ion-icon name="pricetag"></ion-icon>
                <ion-icon name="document-text"></ion-icon>
                <ion-icon name="person"></ion-icon>
                <ion-icon name="at-circle"></ion-icon>
                <ion-icon name="call"></ion-icon>
                <ion-icon name="business"></ion-icon>
                <ion-icon name="albums"></ion-icon>
                <ion-icon name="home"></ion-icon>
                <ion-icon name="calendar"></ion-icon>
                <ion-icon name="list"></ion-icon>
                <ion-icon name="person"></ion-icon>
                <ion-icon name="create"></ion-icon>
                <ion-icon name="trash"></ion-icon>
                <ion-icon name="add-circle-outline"></ion-icon>
                <ion-icon name="list"></ion-icon>
                <ion-icon name="mail"></ion-icon>
                <ion-icon name="search-outline"></ion-icon>
                <ion-icon name="cash"></ion-icon>
                <ion-icon name="settings"></ion-icon>
                <ion-icon name="log-out-outline"></ion-icon>
                <ion-icon name="bar-chart"></ion-icon>
                <ion-icon name="lock-closed"></ion-icon>
                <ion-icon name="people"></ion-icon>
                <ion-icon name="calculator-outline"></ion-icon>
                <ion-icon name="locate-outline"></ion-icon>
                <ion-icon name="storefront"></ion-icon>
                <ion-icon name="at"></ion-icon>
                <ion-icon name="document"></ion-icon>
            </div>
        </div>


        <div>
            <h3 class="mb-10 text-lg opacity-60 uppercase">Cards</h3>
                <div class="w-[500px] border-2 border-[#1F1F1F88] p-2 rounded-md">
                    {% include 'components/cards/review_card.html.twig' with {
                        profile_picture: '/images/demon_hunter.png',
                        name: 'John Michigan',
                        job: 'Owner - The exorcist',
                        content: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula consectetur, ultrices mauris.'
                    } %}
                </div>

                <div class="w-[380px] mt-14">
                    {% include 'components/cards/price_card.html.twig' with {
                            title: "Team",
                            bestSeller: true,
                            description: "Choose a plan for a whole team",
                            advantages: ['Personalized Support', 'Access to Exclusive Content', 'Customizable Features'],
                            price: 49.99,
                            link: "#",
                            max: 3,
                    } %}
                </div>
            
        </div>

    </div>
</div>
{% endblock %}