<header class="flex w-full h-fit justify-end items-center gap-8 px-8">
    <div class="w-64 py-2 gap-2">
            {% include 'components/inputs/search.html.twig' with {
                'id': 'search',
                'name': 'search',
                'type': 'search',
                'placeholder': 'Search for a quote, invoice...',
                'icon':'search-outline'
            } %}
    </div>
    <div class="">
        {% include 'components/buttons/button.html.twig' with {
            'content': '',
            'type': 'button',
            'icon': 'cog-outline', 
        } %}
    </div>
</header>