<div class="inline-flex items-center gap-2">
    {% if(icon) %}
        <ion-icon name="{{ icon }}" class="text-2xl"></ion-icon>
    {% endif %}
    <label for="{{ id ?? name | default('') }}">{{ label | capitalize }}</label>
</div>