{# HOW TO USE IT #}

{# 
{% include 'components/titles/title.html.twig' with {
    text: 'Lorem'
    underline: true
} %} 
#}

{# /HOW TO USE IT #}

{# WHAT DOES IT DO #}

{# 
    Create a simple title with an underline or not
#}

{# /WHAT DOES IT DO #}

{# PATH #}

{# 
    components/titles/title.html.twig
#}

{# /PATH #}


<h1 class="dark:text-text-darkmode mb-[3px] text-4xl">{{ text | default('title') }}</h1>
{% if underline is defined and underline %}
<svg width="53" height="5" viewBox="0 0 53 5" fill="none" xmlns="http://www.w3.org/2000/svg">
<rect width="53" height="5" fill="{{color | default('#1E1E1E')}}"/>
</svg>
{% endif %}
