{% extends 'backoffice.html.twig' %}

{% block title %}New Product{% endblock %}

{% block body %}
    <div class="flex flex-col gap-4">
        <h1>Create Product</h1>
        {{ include('components/buttons/button_link.html.twig',{
            size:'sm',
            bg:'secondary',
            content:"Go back",
            icon_left:"arrow-back-circle-outline",
            link:path('app_product_index', {'company':company.id})
        }) }}
        {% include 'components/layouts/form_layout.html.twig' %}
    </div>
{% endblock %}