{% extends 'backoffice.html.twig' %}


{% block title %}Edit Quote{% endblock %}
{% block body %}
    <script>
       document.addEventListener('DOMContentLoaded', function() {
           window.initializeQuoteSystem();
           window.Quote.getInstance().exploreBillingRows()
       })
    </script>
    <h1>Edit Quote</h1>

    <div class="flex gap-6">
        <div class="w-1/2">
            {% embed 'components/layouts/form_layout.html.twig' with {'content': 'Update', icon:"create-outline"} %}
                {% block footer %}
                    {% include('components/layouts/delete_form_layout.html.twig') with {
                        item: quote,
                        action: path('app_quote_delete', {company:company.id, id:quote.id}),
                    } %}
                {% endblock %}
            {% endembed %}
        </div>
        <iframe class="w-1/2 h-[1000px]"  id="preview" src="{{ path('app_quote_preview', {company:company.id, id:quote.id}) }}"></iframe>


    </div>



{% endblock %}
