{% extends 'backoffice.html.twig' %}


{% block title %}Edit Quote{% endblock %}
{% block body %}
    <script>
       document.addEventListener('DOMContentLoaded', function() {
           window.initializeQuoteSystem();
           window.Quote.getInstance().exploreBillingRows()
       })
    </script>
    <div class="flex flex-col gap-4">
        <h1>Edit Quote</h1>
        {{ include('components/buttons/button_link.html.twig',{
            size:'sm',
            bg:'secondary',
            content:"Go back",
            icon_left:"arrow-back-circle-outline",
            link:path('app_quote_index',{company:company.id})
        }) }}
        <div class="flex-col lg:flex-row flex gap-6">
            <div class="w-full lg:w-3/5">
                {% embed 'components/layouts/form_layout.html.twig' with {'content': 'Update', icon:"create-outline", disabled: quote.isSigned} %}
                    {% block footer %}
                        {% include('components/layouts/action_form_layout.html.twig') with {
                            item: quote,
                            csrf_id:'delete',
                            confirm:"Are you sure you want to delete this quote? This action cannot be undone.",
                            content:'Delete',
                            icon:'trash-outline',
                            bg:'danger',
                            action: path('app_quote_delete', {company:company.id, id:quote.id}),
                        } %}
                        {% if not quote.isSigned %}
                            {% include('components/layouts/action_form_layout.html.twig') with {
                                item: quote,
                                csrf_id:'ask_signature',
                                content:'Ask for signature',
                                icon:'at-outline',
                                action: path('app_quote_ask_signature', {company:company.id, id:quote.id}),
                            } %}
                        {% else %}
                            {% include('components/layouts/action_form_layout.html.twig') with {
                                item: quote,
                                csrf_id:'generate_invoice',
                                content:'Generate invoice',
                                icon:'document-text-outline',
                                disabled: not quote.isSigned,
                                action: path('app_generate_invoice', {company:company.id, quote:quote.id}),
                            } %}
                        {% endif %}

                    {% endblock %}
                {% endembed %}
            </div>
            <iframe class="w-full lg:w-2/5 h-[400px] lg:h-auto"  id="preview" src="{{ path('app_quote_preview', {company:company.id, id:quote.id,embeded:true}) }}"></iframe>
        </div>
    </div>
{% endblock %}
