{# HOW TO USE IT #}

{# 
{% include 'components/lists/list-decimal.html.twig' with {
    data: [
        'Item 1',
        'Item 2',
        'Item 3',
        'Item 4',
        'Item 5',
    ]}
    icon: 'icon-name'
    %} 
#}

{# /HOW TO USE IT #}

{# WHAT DOES IT DO #}

{# 
    This component is a list component. It takes in an array of data and outputs it as a list.
#}

{# /WHAT DOES IT DO #}

{# PATH #}

{# 
    components/lists/list-decimal.html.twig
#}

{# /PATH #}

	<ol class='space-y-2.5  w-min'> {% for item in data %}
		<li class="space-x-2.5 flex items-center">
			{% if(loop.index <= max) %}
				<span class="flex justify-center items-center">
					<ion-icon name="{{ icon }}" class="text-lg text-primary-500"></ion-icon>
				</span>
			{% else %}
				<span class="flex justify-center items-center">
					<ion-icon name="{{ second_icon }}" class="text-lg text-danger-500"></ion-icon>
				</span>
			{% endif %}
			<span>{{ item }}</span>
		</li>
	{% endfor %}
</ol>
