{% extends 'empty.html.twig' %}
{% block title %}Forget your Password{% endblock %}

{% block content %}
<div class="flex justify-center items-center w-screen h-full absolute top-0">
    <div class="w-full px-3 lg:px-0 lg:w-1/2 flex flex-col space-y-2">
        <h1>Oh No, you forget your password?</h1>
        <h2 class="!mb-4">Let us send you an email to create a new one!</h2>
         {% embed 'components/layouts/form_layout.html.twig' with {'content': 'Send me a mail', icon:"send",} %}
        {% endembed %}

        <div class="w-min flex space-x-2">
        <p class="text-slate-500">Or</p>
         {% include 'components/link/link.html.twig' with {
        'href': path('app_login'),
        'text' : 'Login', 
        } 
        %}
        </div>
    </div>
</div>

{% endblock %}