<div class="flex flex-col gap-6">
    <h1 class="dark:text-text-darkmode">{{ title }}</h1>
    {% include "components/tables/table.html.twig" with { table:table, onSelect: onSelect | default('') } %}
</div>